.Collapsible__trigger {
	border: solid 1px #5a67d8;
	border-radius: 26px;
	padding: 13px 22px;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 100%;
}

.Collapsible__trigger:hover {
	color: #7693eb;
}

.Collapsible__trigger:after {
	display: block;
	content: " ";
	background-image: url("../../assets/icons/iconmonstr-arrow-65.svg");
	background-size: 20px 18px;
	height: 18px;
	width: 20px;
	margin-top: 2px;
}
