.button:disabled,
.button:hover:disabled,
.button:active:disabled {
	background: #2d3748;
	color: #a0aec0;
	border-color: #2d3748;
	cursor: not-allowed;
}

.button--icon {
	padding: 0.2rem 0.3rem;
	margin: 0.3rem;
}

.button--small {
	font-size: 0.8rem;
	padding: 0.6rem 1.2rem;
}

.button--big {
	font-size: 1.5rem;
}
